:root {
	--main-yellow: #EAC926;
	--light-grey:#ebebeb;
	--plain-white: white;
	--dark-blue:#03264C;
	--light-blue:#1259c3;
	--dark-grey:#666;
	--green: #39b54a;
	--body-size: 12px;
	--heading-size: 12px;
	--description-size:16px;
	--price-size: 18px;
	--discount-size: 16px;
  }

footer {
    background-color: white;
    color: var(--dark-grey);
    font-weight: 700;
    width:100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-top:2em;
}

.footer-content article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content article .bottom-content {
    width:70%;
}

.footer-content h4 {
    font-size: var(--description-size);
    margin-bottom: 1px;
    font-weight: 900;
}

.footer-content span {
    font-size: var(--heading-size);
}

.footer-icon {
    font-size: 2em;
    color: var(--light-blue);
    margin-bottom: 10px;
}

.footer-icon:hover {
    color: var(--main-yellow);
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .footer-content {
        flex: 0 30%;
        box-sizing:border-box;
    }
    
    .footer-content article .bottom-content {
        width: 80%;
    }
}

@media (min-width: 768px) { 
    .footer-content h4 {
        font-size: 18px;
    }
}