:root {
	--main-yellow: #EAC926;
	--light-grey:#ebebeb;
	--plain-white: white;
	--dark-blue:#03264C;
	--light-blue:#1259c3;
	--dark-grey:#666;
	--green: #39b54a;
	--body-size: 12px;
	--heading-size: 12px;
	--description-size:16px;
	--price-size: 18px;
	--discount-size: 16px;
  }

header {
	background-color: var(--main-yellow);
	color: var(--dark-blue);
	font-size: var(--heading-size);
}
.header {
	display: flex;
	flex-direction: column;
}

.topheader {
	display: flex;
	align-items: center;
	margin-bottom:10px;
	width: 100%;
}

.logo-container {
	width: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.logo {
	width: 60%;
}

.search {
	display: flex;
	width: 100%;
	padding: 10px;
	border-radius:100px;
	background-color: var(--plain-white);
}

.search form {
	display: flex;
	width: 100%;
}

.search input {
	width: 100%;
	border: none;
}

.search input::placeholder {
	width: 100%;
	color: var(--dark-grey);
}

.search-icon {
	color: var(--dark-grey);
	align-self: flex-end;
	
}

.marketing {
	align-self: center;
	font-weight: 600;
	margin-top: 10px;
}

.money-icon {
	color: var(--dark-blue);
	padding:4px;
}

.nav-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.nav-icon {
	color:var(--plain-white);
	font-size: large;
	background-color:var(--dark-blue);
	padding: 10px;
	border-radius: 6px;
}

#chk-nav-bar {
	display: none;
}

.menu-options {
	display: none;
	justify-self: flex-start;
	top: 50px;
	width: 100%;
}

.menu-options li {
	list-style-type: none;
	padding: 12px 16px;
	background-color:var(--main-yellow);
}


.menu-options li a:hover {
	color: #1259c3;
}

.menu-options-links {
	color:var(--dark-blue);
	font-weight: 700;
	letter-spacing: 0;
	text-decoration: none;
	cursor: pointer;
}

.header-icon {
	padding-left: 2px;
}

@media (min-width: 720px) {

	.header {
		flex-direction: row;
		margin-right: 10px;
	}
	
	.logo-container {
		width: 40%;
	}
	
	.search {
		width: 100%;
	}
	
	.marketing {
		text-align: right;
		margin-right: 10px;
	}

	#chk-nav-bar {
		display: none;
	}
	.menu-options {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top:0;
		justify-content: space-between;
	}

	.menu-options li {
		padding: 10px 0px 15px 7px;
	}

	.header-icon {
		padding-left: 5px;
	}

	.nav-site {
		display: flex;
		margin-left: 30px;
	}

	.nav-login {
		display: flex;
		margin-right: 20px;
	}

	.search input {
        font-size: 15px;
        border-radius:100px;
	}

	.search-icon {
		font-size: 15px;
	}

	.search-input {
		height: 20px;
		border-radius:100px;
	}
}

@media (min-width: 1080px) {

	header {
		font-size: var(--discount-size);
		font-size: 20px;
	}

	.topheader {
		margin-top: 15px;
		margin-bottom: 0;
	}

	.search {
		width: 60%;
        padding: 10px;
	}

	.marketing {
		width: 40%;
	}

	.money-icon {
		padding-right:10px;
	}

	.menu-options li {
		padding: 10px;
	}
}